.CodeMirror-lsp {
	width: 10px;
}

.CodeMirror-lsp-highlight{
	 background: rgba(150,220,150, 0.5);
}

.CodeMirror-lsp-hover{
	 text-decoration: underline;
}

.CodeMirror-lsp-guttermarker {
	width: 10px;
	height: 10px;
	margin:2px;
	border-radius: 50%;
	background-color: #d23131;
}

.CodeMirror-lsp-tooltip {
	position: absolute;
	font-size: 12px;
	background: white;
	border: 1px solid rgb(65,65,65);
	padding: 4px 6px;
	z-index: 3;
	border-radius: 3px;
	max-width: 200px;
	max-height: 200px;
	overflow: auto;
}

.CodeMirror-lsp-hint {
	display: flex;
	padding-right: 7px;
}

.CodeMirror-lsp-hint > img {
	display: flex;
	width: 11px; 
	min-width: 11px;
	margin-right: 4px;
}

.CodeMirror-lsp-context > * {
	padding: 5px;
	border-bottom: 1px solid rgb(80,80,80);
	cursor: pointer;
}

.CodeMirror-lsp-context > *:last-child {
	border-bottom: none;
}

.CodeMirror-lsp-context *:hover {
	background-color: #dde;
}
